# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
chicken_venv/
ENV/

# Checkpoints and logs
checkpoint/
runs/
*.pth

# Data
data/
*.pt
*.pkl

# Results and temp files
results.csv
*.log
*.temp

# IDE
.idea/
.vscode/
*.swp
